<h1>New Page Part</h1>

<% form_tag(page_page_parts_path, :method => :post) do %>
  <p>
    <%= label_tag :name %><br />
    <%= text_field_tag :part_name %>
  </p>
  <%= text_area_tag  :page_revision_body %>
  <p>
  <%= submit_tag "Create" %>
  </p>
<% end %>