<div class="holder_right">
  <div class="header">
    <div class="header_content">
      <h1><%= t(:permission_denied) %></h1>
    </div>
    <div class="header_right">
    </div>
  </div>
  <div class="main_content">
    <%= t(:please_login) %>
  </div>
</div>
<div class="footer">
  <div class="footer_left">
  </div>
  <div class="footer_right_light">
  </div>
</div>
