body {
    margin: 0;
    padding: 0;
}

#toolbar {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    overflow: auto;
}

#toolbar, #toolbar a {
    color: #666;
}

#toolbar a img {
    margin-bottom: -2px;
}

#toolbar .actions a {
    margin-right: 1em;
    padding: 5px;
    text-decoration: none;
    border: 1px solid transparent;
}

#toolbar .actions a:hover {
    border: 1px solid #bbb;
    background-color: #ccc;
    color: white;
}

#toolbar .favorite a {
    margin-right: 1em;
    padding: 5px;
    text-decoration: none;
    border: 1px solid transparent;
}

#toolbar .login {
    float: right;
}

#toolbar p {
    font-size: 13px;
    margin: 1em;
}

.bonsai a img {
    border: none;
}

.bonsai {
    font-family: sans-serif;
}

.bonsai table th {
    font-weight: bold;
}

.bonsai table th,
.bonsai table td {
    padding: 5px 10px;
    text-align: center;
}

.bonsai .description {
    color: #333;
    font-size: 12px;
}

.bonsai .diff {
    font-family: monospace;
}

.bonsai .diff div {
    margin: 0;
    padding: 0;
}
.bonsai .diff .line {
    background-color: #F8F8FF;
    margin: 0.5em 0;
}
.bonsai .diff .deletion { background-color: #fdd; }
.bonsai .diff .addition { background-color: #dfd; }
.bonsai .diff .line .deletion {background-color: #faa; }
.bonsai .diff .line .addition {background-color: #afa; }
.bonsai textarea { width: 100% }



#holder {
    margin: 2em;
}

#flash {
    padding: 1em;
    width: 300px;
}

#flash.notice {
    background-color: #ffa;
}

#flash.error {
    background-color: #faa;
}

.autocomplete {
    width: 350px !important;
}

.autocomplete ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 2px solid #f0f0f0;
}

.autocomplete li {
    margin: 0;
    padding: 5px;
    cursor: pointer;
}

.autocomplete .selected {
    background-color: #f0f0f0;
}

.favorite_table {
    border-collapse:collapse;
    float:right;
    margin: 10px;
    position:relative;
    right:5%;
    max-width:30%;
}

.favorite_table th{
    background-color: white;
}

.favorite_table tr:hover{
    background-color: #f0f0f0;
}

.dashboard_news {
    max-width:70%;
}
.dashboard_news div {
   margin: 0 0 20px 10px;
}

.DashboardTree #user, #time {
    font-weight:bold;    
}