#body {
    margin: 0;
    padding: 0;
}

#toolbar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #55f;
    text-align: right;
}

#toolbar, #toolbar a {
    color: white;
}

#toolbar p {
    font-size: 11px;
    margin: 1em;
}

#holder {
    margin: 2em;
}

#flash {
    padding: 1em;
    width: 300px;
}

#flash.notice {
    background-color: #ffa;
}

#flash.error {
    background-color: #faa;
}