<ul>
<% for group in  @auto_groups %>
  <li>
    <span class="groupname"><%= highlight_match(h(group.name), @infix) %></span>(
    <% infix_users = Array.new %>
    <% users = Array.new %>
    <% for user in group.users %>
        <% if user.username.downcase.include?(@infix.downcase) || user.name.downcase.include?(@infix.downcase) %>
            <% infix_users << user %>
            <% if infix_users.length >= 3 then break end %>
        <% else %>
            <% users << user %>
        <% end %>
    <% end %>
    <% for user in infix_users %>
        <%= highlight_match(h(user.username), @infix) %>(<%= highlight_match(h(user.name), @infix)%>)<% if infix_users.length < 3 && users.length > 0 %>,<% end %>
    <% end %>
    <%= highlight_match(h(users.first(3 - infix_users.length).collect(&:username).join(', ')), @infix) %>
    <% if (group.users.length > 3) %>&hellip;<% end %>)
  </li>
<% end %>
</ul>