<span id="favorite">
<% unless @current_user.favorite_pages.include?(@page) %>
  <%= link_to_remote icon_tag('star-out.png', :title => t(:add_to_favorites), :alt => ''), {:url => toggle_favorite_page_path(@page)}, :href => toggle_favorite_page_path(@page), :update => "favorite" %>
<% else %>
  <%= link_to_remote icon_tag('star.png', :title => t(:remove_from_favorites)), {:url => toggle_favorite_page_path(@page)}, :href => toggle_favorite_page_path(@page),  :update => "favorite"  %>
<% end %>
</span>