<%= render :partial => 'shared/analytics' %>
<% if (!@highlighter_display.nil?) and @highlighter_display %>
    <%= render :partial => 'shared/highlight_all' %>
<% end %>
<%= javascript_include_tag 'wmd.js' %>
</body>
</html>
