<% form_tag login_path do %>
    <div class="login_area">
    <%= icon_tag('openid.png') %>
    <%= text_field_tag "openid_identifier", nil, :class=>'large_input' %>
    <%= submit_tag t("views.toolbar.btn_log_in"),  :class => 'small_button' %>
    </div>
<% end %>