<% form_tag login_path do %>
    <div class="login_area">
    <%= icon_tag('openid.png') %>
    <%= text_field_tag "openid_identifier" %>
    <%= submit_tag t(:btn_log_in), :id => 'login_button' %>
    </div>
<% end %>