<div class="bonsai">
  <h1>Diff for <%=h @page.title %></h1>
  <% if @first_revision.was_deleted? != @second_revision.was_deleted? %>
    <p>Revision <%=  @first_revision.was_deleted? ? @first_revision.id.to_s : @second_revision.id.to_s %> was marked as deleted.</p>
  <% else %>
    <%
    first = @first_revision.body.split("\n")
    second = @second_revision.body.split("\n")

    # TODO move logic to controller!

    diffs = Diff::LCS.sdiff(first, second)
    %>
    <div class="diff">
      <% for diff in diffs
        klass = nil
        data = diff.new_element
        case diff.action
        when '=' then klass = 'line-unchanged'
        when '-' then klass = 'line-removed'; data = diff.old_element
        when '+' then klass = 'line-added'
        when '!' then klass = 'line-changed'
        end
      %>
        <div class="<%= klass %>"><%= data %></div>
      <% end %>
    </div>
  <% end %>
</div>