<p>File not found.</p>

<p>You can <a href="#" onclick="return toggleDiv(event);">attach this file</a>.</p>
  <div style="display: none;">
    <% form_for(:uploaded_file, :url =>"?upload", :html => {:multipart => true}) do |f| %>
      <p><label for="uploaded_file">Upload a File<br/><%= f.file_field :uploaded_data %></label><%= submit_tag 'Upload' %></p>
    <% end %>
  </div>