<p>File not found.</p>

<% if @current_user.can_edit_page? @page %>
    <p>You can <a href="#" onclick="return toggleDiv(event);">upload this file</a>.</p>
    <div style="display: none;">
      <% form_for(:uploaded_file, :url => upload_file_path(@page), :html => {:multipart => true}) do |f| %>
          <%= hidden_field_tag('uploaded_file_filename', @filename) %>
          <p><label for="uploaded_file">Upload a File<br/><%= f.file_field :uploaded_data %>
          </label><%= submit_tag 'Upload' %></p>
      <% end %>
    </div>
<% end %>