<div class="holder_right">
  <div class="header">
    <div class="header_content">
     <h1><%= t(:no_parent) %></h1>
    </div>
    <div class="header_right">
    </div>
  </div>
  <div class="main_content">
  </div>
</div>
<div class="footer">
  <div class="footer_left">
  </div>
  <div class="footer_right_light">
  </div>
</div>