<h1><%=h @page.title %></h1>
<% for part in @page.page_parts %>
  <%  unless part.is_deleted %>
    <h2><%=h part.name %></h2>
    <%= markdown(part.current_page_part_revision.body) %>
  <% end %>
<% end %>