<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Bonsai</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'visual' %>
  
</head>
<body>
<% unless @current_user.nil? %>
<div id="toolbar">
  <p>Logged in as: <%= @current_user.full_name %></p>
</div>
<% end %>
<div id="holder">
<%= yield  %>
</div>
</body>
</html>
